{% extends "base.html" %}
{% load static %}



{% block title %}View{% endblock %}

{% block head %}
<script src="https://d3js.org/d3.v5.js"></script>
<script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script src="https://unpkg.com/babel-preset-env-standalone@1.6.2/babel-preset-env.min.js"></script>
<script src="http://wzrd.in/standalone/uuid%2Fv1@latest"></script>
<script src="{% static 'js/graph.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% endblock %}

{% block content %}

    <div id="root">
    </div>

    <div id="csrf" style="display: none;">
        {% csrf_token %}
    </div>

<script type="text/babel">

class RootComponent extends React.Component {
    constructor(props) {
        super(props);
        this.state = { data: props.data, active_element: null };
    }

    render() {
		const fixed_width = {
		  width: "fit-content"
		};
        return (
<div id="container">
    <div style={fixed_width}>
        <div className="comp">
            <b>New node</b><br />
            Name: <input type="text" id="add_node_name" /><br />
            <button type="button" onClick={add_node}>Create</button>
        </div>
        <RemoveNode nodes={this.state.data.nodes} />
        <AddEdge nodes={this.state.data.nodes} />
        <RemoveEdge links={this.state.data.links} />
    </div>
    <div id="graph_container" className="comp">
        <GraphComponent className="graph" data={this.state.data}>
        </GraphComponent>
    </div>
    <div style={fixed_width}>
        <ActiveElement active_element={this.state.active_element} />
        <div className="comp">
    <button type="button" onClick={save_network}>Save network</button>
        </div>
    </div>
</div>
        )
    };
}

class GraphComponent extends React.Component {
    constructor(props) {
        super(props);
        this.state = { data: props.data };
        this.nodeRef = null;
        this.setRef = (ref) => {
            this.nodeRef = ref;
        };
    }
    componentDidMount() {
        create_graph(this.state.data)
    }

    componentDidUpdate() {
        update_graph(this.state.data)
    }
    render() {
        return <svg className="graph" ref={this.setRef} />
    };
}

class RemoveNode extends React.Component {
    constructor(props) {
        super(props);
    }
    render() {
        if(this.props.nodes) {
            var options = [];
            for (var i = 0; i < this.props.nodes.length; i++) {
            options.push(<option key={this.props.nodes[i].id} value={this.props.nodes[i].id}>{this.props.nodes[i].name}</option>);
            }

            return (
                <div className="comp">
                    <b>Remove node</b><br />
                    Name: <select id="remove_node_name"> {options} </select><br />
                    <button type="button" onClick={remove_node}>Remove</button>
                </div>
            )
        } else return "";
    };
}

class AddEdge extends React.Component {
    constructor(props) {
        super(props);
    }

    render() {
        if(this.props.nodes) {
            var options = [];
            for (var i = 0; i < this.props.nodes.length; i++) {
            options.push(<option key={this.props.nodes[i].id} value={this.props.nodes[i].id}>{this.props.nodes[i].name}</option>);
            }

            return (
                <div className="comp">
                    <b>New edge</b><br />
                    Source: <select id="add_edge_source" > {options} </select><br />
                    Target: <select id="add_edge_target" > {options} </select><br />
                    <button type="button" onClick={add_edge}>Create</button>
                </div>
            )
        } else return "";
    };
}

class RemoveEdge extends React.Component {
    constructor(props) {
        super(props);
    }

    render() {
        if(this.props.links) {
            var options = [];
            for (var i = 0; i < this.props.links.length; i++) {
            options.push(<option key={this.props.links[i].id} value={this.props.links[i].id}>{this.props.links[i].source.name}-{this.props.links[i].target.name}</option>);
            }

            return (
                <div className="comp">
                    <b>Remove edge</b><br />
                    Edge: <select id="remove_edge_id" > {options} </select><br />
                    <button type="button" onClick={remove_edge}>Remove</button>
                </div>
            )
        } else return "";
    };
}

class ActiveElement extends React.Component {
    constructor(props) {
        super(props);
    }
    render() {
        var to_render = "";
        if (this.props.active_element) {
            if (this.props.active_element.type.localeCompare("node") == 0) {
                return (
                    <div className="comp">
                        <b>Active node</b><br />
                        Name: <input type="text" id="active_node_name" value={this.props.active_element.element.name} /><br />
                        <button type="button" onClick={update_active_node}>Update</button>
                    </div>
                )
            } else if (this.props.active_element.type.localeCompare("edge") == 0) {
                return (
                    <div className="comp">
                        <b>Active Edge</b><br />
                        Edge: {this.props.active_element.element.source.name}-{this.props.active_element.element.target.name}<br />
                        Color: <textarea id="active_edge_color" value={(this.props.active_element.element.conf && this.props.active_element.element.conf.color)? this.props.active_element.element.conf.color : "#aaa" } />
                        <button type="button" onClick={update_active_edge}>Update</button>
                    </div>
                )
            }
        } else return <div className="comp">Nothing is selected</div>
    };
}

var csrf_token = d3.select("#csrf").select("input").attr("value");

var active_comp =  null;

var data = JSON.parse('{{ graph.data|safe}}');

var root = <RootComponent data={data}/>;

var root_instance = ReactDOM.render(root, document.getElementById("root"));

function dragcontainer() {
  return this.parentNode.parentNode.parentNode;
}

function remove_node() {
    var node_id = d3.select("#remove_node_name").node().value

    //remove node
    var index = data.nodes.findIndex(function(element) {
      return element.id == node_id;
    })
    data.nodes.splice(index,1);

    //remove links to node
    data.links = data.links.filter(function(element) {
      return element.source.id != node_id && element.target.id != node_id;
    })

	root_instance.setState({data: data})
}

function remove_edge() {
    var edge_id = d3.select("#remove_edge_id").node().value

    //remove node
    var index = data.links.findIndex(function(element) {
      return element.id == edge_id;
    })
    data.links.splice(index,1);

	root_instance.setState({data: data})
}

function dragstarted(d) {
}

function dragged(d) {
    var dx = d3.event.dx, dy = d3.event.dy;
    if(dx * dx + dy * dy > 1) {
        d.x = d3.event.x;
        d.y = d3.event.y;

        root_instance.setState({data: data})
    }
}

function dragended(d) {
}

function add_edge() {
    var source_id = d3.select("#add_edge_source").node().value
    var target_id = d3.select("#add_edge_target").node().value

    data.links.push({id: uuidv1(), source: source_id, target: target_id})

    root_instance.setState({data: data})
}

function add_node() {
    var name = d3.select("#add_node_name").node().value
    data.nodes.push({id: uuidv1(), name: name, x: 800, y: 500})

    root_instance.setState({data: data})
}

function change_active_node() {
    if (d3.event.defaultPrevented) return;
    console.log("active");

    root_instance.setState({active_element: {type: "node", element: this.__data__}})

}

function change_active_edge() {
    if (d3.event.defaultPrevented) return;
    console.log("active");

    root_instance.setState({active_element: {type: "edge", element: this.__data__}})

}

function update_active_node() {
    if (d3.event.defaultPrevented) return;

    if(active_comp) {
        var new_name = d3.select("#active_node_name").node().value

        var node_id = d3.select(active_comp).attr("comp_id");

        var index = data.nodes.findIndex(function(element) {
          return element.id == node_id;
        })

        data.nodes[index].name = new_name

        update_data()
    }
}

function update_active_edge() {
    if (d3.event.defaultPrevented) return;

    if(active_comp) {
        var new_color = d3.select("#active_edge_color").node().value

        var edge_id = d3.select(active_comp).attr("comp_id");

        var index = data.links.findIndex(function(element) {
          return element.id == node_id;
        })

        data.edges[index].conf.color = new_name

        update_data()
    }
}

function clean_data(d) {
    var links_clean = JSON.parse(JSON.stringify(d.links)) //colnes the object
    links_clean.forEach(function(element) {
        element.source = element.source.id;
		delete element.source["x"];
		delete element.source["y"];
        element.target = element.target.id;
		delete element.target["x"];
		delete element.target["y"];
        element.conf = {};
    })
    return {'nodes': d.nodes, 'links': links_clean};
}

function save_network() {
    d3.text("{% url 'view' graph.id %}", {
        method: "POST",
        headers: { "Content-Type": "application/x-www-form-urlencoded", "X-CSRFToken": csrf_token },
        body: "data=" + JSON.stringify(clean_data(data))
    }).then(function(data) {
      console.log(data);
    });
}
</script>
{% endblock %}
