:root {
  --hover-color: limegreen;
  --creating-link-color: blue;
  --selected-color: brown;
}

body {
  font-family: monospace;
}

svg {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.creating_link {
  stroke: var(--creating-link-color);
  stroke-opacity: 1;
  stroke-width: 3;
}

.line_visible {
  stroke-opacity: 1;
  stroke-width: 2;
}

.line_hoverarea{
  stroke: white;
  stroke-width: 15;
  stroke-opacity: 0;
}

.line_hoverarea:hover + .line_visible,
.line_visible:hover{
  stroke: var(--hover-color);
  stroke-width: 3;
  stroke-opacity: 1;
}

#rubberband {
  stroke: black;
  stroke-dasharray: 5, 5;
  stroke-width: 2px;
  stroke-width: 2px;
  fill-opacity: 0;
  stroke-opacity: 0.8;
}

.nodes .selected rect{
  stroke: var(--selected-color) !important;
}

.nodes .rubberband_hovering rect{
  stroke-width: 3px;
  stroke-dasharray: 5, 5;
}

.nodes g rect {
  pointer-events: all;
  fill: white;
  stroke: black;
  stroke-width: 2px;
}

.nodes g:hover rect{
  stroke: var(--hover-color);
  stroke-width: 3px;
}

.comp {
  border: solid 1.5px;
  margin: 2px;
  padding: 2px;
}

div.comp {
    font-size: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}

#grid_container {
  display: grid;
  /* grid-template-columns: 1fr 3fr 1fr */
  grid-template-columns: 5fr 1fr
}

button {
  font-family: monospace;
  background-color: white;
  border: 1px solid black;
  font-size: 1rem;
}

button:hover {
  text-shadow: 0px 0.5px 0px black;
}

select {
  border-color: black;
  margin: 2px 3px;
  font-family: monospace;
  font-size: 1rem;
}

option {
  font-family: monospace;
  font-size: 1rem;
}

input {
  font-family: monospace;
  font-size: 1rem;
}

input[type=text] {
  border-style: solid;
  border-width: 1px 1px;
  border-color: white black;
  margin: 2px 3px;
}

input[type=text]:hover {
  border-color: black;
}

input.seamless {
  width: 100%;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  outline: none;
}

.collapsible {
  border: 1px solid black;
  margin-bottom: 2px;
}

.collapsibleContent {
  border-top: 1px solid black;
}