<!-- templates/home.html -->

{% block head %}
<head>
<style>
.comp {
    border: solid 1.5px;
    margin: 2px;
    padding: 3px;
	
}
</style>
{% endblock %}


{% block content %}
	<div class="comp" style="width: 20%;">
    {% for graph in graphs %}
    <div class="comp">{{ graph.name }}<br>
        <a href="{% url 'view' graph.id %}">Open graph</a>
        <a href="">Delete graph</a>
    </div>
    {% endfor %}
	 </div>
	<div class="comp" style="width: 20%;">
    <p><a href="{% url 'new' %}">create new graph</a></p>
    </div>
{% endblock %}