.collapsible_background {
  grid-column: 1;
  margin: var(--margin);
  margin-bottom: 0px;
  border-radius: 5px;
  border: 1px solid rgba(125,125,125,.3);
  box-shadow: var(--shadow);

}

.collapsible_button {
  grid-column: 1;
  cursor: pointer;
  padding: var(--margin);
  margin: var(--margin);
  margin-bottom: 0px;
}

.collapsible_button:hover:not(:has(button:hover)) {
  background-color: rgba(125,125,125,.1);
}

.collapsible_radio {
  grid-column: 2;
}

.collapsible_content {
  overflow: hidden;
  grid-column: 1;
  padding: var(--margin);
  margin: var(--margin);
  margin-top: 0px;
  border-top: 1px solid black;
  transition: 0.5s ease;
}

.collapsible_content.closed {
  margin: 0px var(--margin);
  padding: 0px var(--margin);
  border: none;
}
