.button {
  display: inline-block;
  position: relative;
  width: auto;
  border-radius: 5px;
  border: 1px solid rgba(125,125,125,.3);
  margin: var(--margin);
  padding: var(--margin);
  cursor: pointer;
  z-index: 1;
  box-shadow: var(--shadow);
}

.button:hover {
  background-color: rgba(125,125,125,.1);
  box-shadow: var(--shadow-hover);
}

.button:active {
  box-shadow: var(--shadow-active);
}
