.button {
  display: inline-block;
  position: relative;
  width: auto;
  border-radius: 5px;
  border: 1px solid rgba(125,125,125,.3);
  margin: var(--margin);
  padding: var(--margin);
  cursor: pointer;
  z-index: 1;
  box-shadow: -1px -1px 4px -1px white,
    1px 1px 6px -3px black,
    inset 1px 1px 4px -2px white,
    inset -1px -1px 4px -4px black;
}

.button:hover {
  background-color: rgba(125,125,125,.1);
  box-shadow: -1px -1px 2px -1px white,
  1px 1px 4px -3px black,
  inset 1px 1px 4px -2px white,
  inset -1px -1px 4px -4px black;
}

.button:active {
  box-shadow: inset 1px 1px 4px -2px black,
  inset -1px -1px 4px -4px white;
}