#header {
  border-radius: 5px 5px 0px 0px;
  border: var(--border);
  position: relative;
}

#header-left {
  position: absolute;
  left: 0;
  top: 0;
}

#header-center {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  height: 100%;
}

#header-center img {
  height: 100%;
}

#header-right {
  position: absolute;
  right: 0;
  top: 0;
}

#header-right td {
  text-align: right;
}