:root {
  --hover-color: limegreen;
  --creating-link-color: blue;
  --link-shadow-selected: gray;
  --link-shadow-adjacent: silver;
  --node-shadow-selected: gray;
  --node-shadow-adjacent: gainsboro;

  --background-color: #F9F6EE;

  --margin: 5px;
}

html {
  font-size: 14px;
}

body {
  font-family: monospace;
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none; /* no underline */
}

svg {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

line {
  stroke-linecap: round;
}

.multiple_values {
  background-color:lightgray;
}

.creating_link {
  stroke: var(--creating-link-color);
  stroke-opacity: 1;
  stroke-width: 3;
}

.line_adjacent_shadow {
  stroke: var(--link-shadow-adjacent);
  stroke-opacity: 1;
  stroke-width: 4;
}

.line_shadow {
  stroke: var(--link-shadow-selected);
  stroke-opacity: 1;
  stroke-width: 4;
}

.line_visible {
  stroke-opacity: 1;
  stroke-width: 2;
}

.line_hoverarea{
  stroke: white;
  stroke-width: 10;
  stroke-opacity: 0;
}

.line_hoverarea:hover + .line_visible,
.line_visible:hover{
  /*stroke: var(--hover-color);*/
  stroke-width: 3;
  stroke-opacity: 1;
}

#rubberband {
  stroke: black;
  stroke-dasharray: 5, 5;
  stroke-width: 2px;
  stroke-width: 2px;
  fill-opacity: 0;
  stroke-opacity: 0.8;
}

#graph_name {
  font-size: large;
  text-align: center;
}

.nodes .rubberband_hovering rect{
  stroke-width: 3px;
  stroke-dasharray: 5, 5;
}

.nodes g .node_body {
  pointer-events: all;
  fill: white;
  stroke: black;
  stroke-width: 2px;
}

.nodes g:hover .node_body{
  stroke: var(--hover-color);
  stroke-width: 3px;
}

.nodes g .node_adjacent_shadow {
  pointer-events: all;
  fill: var(--node-shadow-adjacent);
  stroke-width: 0px;
}

.nodes g .node_shadow {
  pointer-events: all;
  fill: var(--node-shadow-selected);
  stroke-width: 0px;
}

.comp {
  border: solid 1.5px;
  margin: 2px;
  padding: 2px;
  overflow: hidden; /* this is to create a new float context */
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr
}

#grid_container {
  display: grid;
  /* grid-template-columns: 1fr 3fr 1fr */
  grid-template-columns: 5fr 1fr
}

button {
  font-family: monospace;
  background-color: white;
  border: 1px solid black;
  font-size: 1rem;
  margin: 2px;
}

.button {
  cursor: pointer;
  text-align: center;
}

select {
  border-color: black;
  margin: 2px 3px;
  font-family: monospace;
  font-size: 1rem;
}

option {
  font-family: monospace;
  font-size: 1rem;
}

input {
  font-family: monospace;
  font-size: 1rem;
}

input[type=text] {
  border-style: solid;
  border-width: 1px 1px;
  border-color: black;
  border-radius: 3px;
  box-shadow: inset 1px 1px 4px -2px black,
  inset -1px -1px 4px -4px white;
  margin: 2px 3px;
}

input[type=text]:hover {
  border-color: black;
}

input.seamless {
  width: 100%;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  outline: none;
}

.collapsible {
  border: 1px solid black;
  margin-bottom: 2px;
}

.collapsibleContent {
  border-top: 1px solid black;
}
